*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
}

/*Tribute head */
#tribute-head {
    background-color: black;
    height: 450px;
    width: 100vw;
    position: absolute;
    top: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #fff;
    grid-column: 1 / 3;
    z-index: -1;
}

#profile-image {
    border-radius: 50%;
    height: 300px;
    width: 290px;
    margin-top: -6px;
}

.img-container { 
    width: 310px;
    height: 310px;
    border-radius: 50%;
    background-color: goldenrod;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    margin-top: 40px;
}

.inner-img-container {
    width: 280px;
    height: 280px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 50px;
    margin-left: 90px;
}

.text-overImage {
    position: absolute;
    top: 150px;
    left: 280px;
    font-size: 40px;
}

.text-paragraph1 {
    position: absolute;
    left: 440px;
    top: 240px;
    font-size: 24px;
}

.text-paragraph2 {
    position: absolute;
    left: 450px;
    top: 290px;
    font-size: 20px;
    color: goldenrod
}

.head-quote {
    font-size: 24px;
    margin-top: 100px;
    margin-right: 60px;
}

.profile {
    margin-left: 90px;
}

#profile-flower {
    position: absolute;
    width: 200px;
    height: 300px;
    z-index: -1;
    border-radius: 50%;
    transform: rotate(36deg);
    left: 60px;
}

#profile-flower2 {
    position: absolute;
    width: 200px;
    height: 300px;
    z-index: -1;
    border-radius: 50%;
    transform: rotate(60deg);
    top: 180px;
    left: 160px;
}


/*Tribute body*/

.tribute-body {
    margin-top: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.body-description {
    margin-left: 30px;
    line-height: 28px;
    font-size: 24px;
}

.body-description > p::first-letter {
    font-size: 48px;
}

.body-achievement {
    margin-right: 30px;
    line-height: 28px;
    font-size: 24px;
}

.body-achievement > h3 {
    text-decoration: underline;
}

.tribute-footer {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

#body-quote {
    font-style: italic;
}

.source {
    margin-top: 40px;
    text-align: right;
    margin-right: 60px;
    opacity: 0.3;
}

.blank {
    width: 100vw;
    height: 100px;
    background-color: #000;
}

/*Media queries for mobile responsiveness */
@media (max-width: 436px) {
    #tribute-head {
        background-color: #000;
        width: 540px;
        height: 680px;

    }

    .head-quote {
        position: absolute;
        top: 430px;
        left: 50px
    }
    
    .img-container { 
        margin-left: 5px;
    }
    
    .inner-img-container {
        left: 5px;
    }
    
    .text-overImage {
        top: 350px;
        left: 100px;
        width: 100%;
    }
    
    .text-paragraph1 {
        left: 100px;
        top: 430px;
    }
    
    .text-paragraph2 {
        left: 100px;
        top: 470px;
    }
    
    .tribute-body {
        margin-top: 700px;
        display: grid;
        grid-template-columns: 450px;
        width: 100%;
    }
    
    .body-description {
        width: 100%;
    }
    
    .body-achievement {
        width: 100%;
        margin-left: 10px;
    }
    
    .body-achievement > h3 {
        margin-left: 10px;
    }
    
    .tribute-footer {
        width: 480px;
        margin-left: 20px;
        margin-right: 0px;
    }
    
    #body-quote {
        font-style: italic;
        width: 100%;
    }
    
    .source {
        margin-top: 40px;
        text-align: right;
        margin-right: 10px;
        opacity: 0.3;
    }
    
    .blank {
        width: 540px;
    }
}

@media (width: 768px) {
    #tribute-head {
        height: 630px;
    }

    .head-quote {
        font-size: 20px;
        position: absolute;
        top: 400px;
    }

    .tribute-body {
        grid-template-columns: repeat(2, 320px);
        font-size: 16px;
        gap: 5px;
        margin-top: 680px;
    }

    .body-description {
        font-size: 16px;
    }

    .body-achievement {
        font-size: 16px;
    }

    .tribute-footer {
        font-size: 16px;
        margin-left: 10px;
    }

}