*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: white;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(6, 100px);
    gap: 0.3rem;
    max-height: 100vh;
    background: #000000;
    width: 500px;
    height: 830px;
    margin-top: 40px;
    padding-top: 200px;
    /*padding-bottom: 40px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

button {
    background: #2B2626;
    color: #FFFFFF;
    font-size: 30px
}

button:hover {
    background-color:  #525050;
}

#btn-2 {
    grid-column: span 2;
    border-bottom-right-radius: 30px;
}

.displayOutput {
    grid-column: 1 / -1;
}

#dotBtn {
    border-bottom-left-radius: 30px;
}


.displayOutput {
    color: #FFFFFF;
    position: relative;
    top: -60px;
    padding-right: 20px;
}

.calculation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
}

#result {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
    font-size: 60px;
    background-color: #000000;
    border: none;
    color: white;
}

#input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-weight: 200;
    font-size: 60px;
    background-color: #000000;
    border: none;
    color: white;
}

.equalSignBtn {
    color: white;
}